@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="col-md-12">
    <h1>Service Fabric Sample Windows Application</h1>
    <p>This application is a Windows sample to help you get started with Service Fabric. All services target .NET8.<br /> 
        The application consists of multiple services to show how the different types of Service Fabric services work, as well as how they can communicate.</p>
</div>
